body {
    margin: 0;
    color: #333;
    font-family: Lato, Normal 400;
}
.wrapper {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    font-weight: bold;
    text-align: center;
    justify-content: center;
}

.wrapper > * {
    padding: 2em;
    flex: 1 100%;
}

.header {
    background: #292c2f;
    box-shadow: 1px 3px 2px rgba(0, 0, 0, 0.15);
    padding: 0;
}
h1 {
    color: white;
    font-size: 2em;
    font-family: Lato, Ultra-Bold 900;
}

.footer {
    background: lightgreen;
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.footer {
    color: white;
}

.main {
    text-align: left;
    background: deepskyblue;
    max-width: 40em;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;

    justify-content: center;
}

#gameBoard {
    width: 100%;
    height: 100%;
    border-spacing: 0px;
    /* We want the top of the board to be "open" */
    border-collapse: collapse;
}

/* Selecting all but the top row cells */
#gameBoard > tr:not(:first-child) td {
    border: 1px solid black;
}

/* Selecting the top row cells */
#gameBoard > tr:first-child td {
    border: 1px solid black;
    /* The top row is "open" from the top */
    border-top-style: dotted;
}

.cell {
    background: white;
    width: 8vw;
    max-width: 4em;
    height: 8vw;
    max-height: 4em;
}

.hover {
    background-color: salmon;
}

/* Marker for player 0 */
.marker0 {
    background: yellow;
}

/* Marker for player 1 */
.marker1 {
    background: hotpink;
}
